name: Build

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    - name: Build Linux
      run: cargo build --target x86_64-unknown-linux-gnu --release
    
    - name: Upload Linux Artifact
      uses: actions/upload-artifact@v4.6.0
      with:
        name: smtp-gui-x86_64
        path: target/x86_64-unknown-linux-gnu/release/smtp-gui
        if-no-files-found: error
        retention-days: 0
        compression-level: 6
        overwrite: false
        include-hidden-files: true
  
  build-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4

    - uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    
    - name: Build Windows
      run: cargo build --target x86_64-pc-windows-msvc --release
    
    - name: Upload Windows Artifact
      uses: actions/upload-artifact@v4.6.0
      with:
        name: smtp-gui-x86_64.exe
        path: target/x86_64-pc-windows-msvc/release/smtp-gui.exe
        if-no-files-found: error
        retention-days: 0
        compression-level: 6
        overwrite: false
        include-hidden-files: true